<!DOCTYPE html>
<html>
  <head>
    <title>DPC - {{ title }}</title>
    <link rel="stylesheet" href="/public/stylesheets/app.css">
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
